# Visual Studio
.vscode/
.vs/
*.tmproj
*.csproj.user
*.vbproj.user
project.lock.json
project.fragment.lock.json
artifacts/




*.jpg
*.txt
CamCalib/x64/Release/*
*.sln
CamCalib/imgCap/x64/Release/*


*.props
*.vcxproj
*.filters
*.user